.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #D9D9D9;
    box-sizing: border-box;
    position: fixed; /* Si vous voulez que le footer reste fixé en bas */
    bottom: 0; /* Fixe le footer au bas de la fenêtre */
    width: 100%;
    margin-bottom: 25px;
    /* Plus de styles CSS pour ajuster la présentation du footer selon vos besoins */
  }
  


  .footer-section{
    flex: 1;
  }
  .logo {
    /*font-family: 'Lilita One', cursive; /* Assurez-vous que la police est importée dans votre CSS global ou HTML */
    font-size: 5em; /* Ajustez la taille selon le design */
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .logo-g {
    color: #FFA500;
    font-family: Poppins; 
    font-weight: bold;
  }
  .logo-faim {
    color: #298029;
    font-family: Poppins; 
    font-weight: bold;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    margin: 0 5px; /* Espacement entre les icônes */
    color: #03081F; /* Couleur des icônes */
    font-size: 24px; /* Taille des icônes */
  }
  
  .social-icons a:hover {
    color: #FFA500; /* Couleur des icônes au survol */
  }


  .subscription{
    font-family: poppins;
    font-weight: bold;
  }
  .subscription h3{
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .subscription-section {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: #ffffff; /* couleur de fond pour l'ensemble de la section */
    border-radius: 50px; /* bordures arrondies comme dans l'image */
    padding: 0px; /* espacement autour de l'input et du bouton */
    max-width: 500px; /* ou la largeur maximale souhaitée */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ombre portée légère pour du relief */
  }
  .subscription-section input {
    border: none;
    padding: 7px; /* espacement interne à l'input */
    border-radius: 50px; /* bordures arrondies pour l'input */
    flex-grow: 1; /* permet à l'input de prendre la place disponible */
  }
  .subscription-section input:focus {
    outline: none; /* retire la bordure de focus par défaut */
  }


  .legal-section {
    /*display: flex;*/
    flex: 1;

  }
  .legal-section table {
    width: 100%; 
    border-collapse: collapse; /* Assure que le tableau n'a pas d'espaces entre les cellules */
  }
  .legal-section td {
    padding: 20px; 
    vertical-align: top; 
  }
  .legal-section h3 {
    margin-top: 0;
    font-weight: bold;
    color: #03081F;
    font-family: poppins;
  }
  .legal-section a {
    display: block; 
    color: #03081F; 
    text-decoration: none; 
    margin-bottom: 4px;
    font-family: inter;
  }
  .legal-section a:hover {
    text-decoration: underline;
  }

  .footer-bottom {
    background-color: #03081F; /* Fond noir pour la barre du bas */
    color: #fff; /* Texte en blanc */
    text-align: center; /* Centre le texte */
    /*padding: 0px 0; /* Ajoute un peu d'espacement vertical */
    font-size: 0.8em; /* Réduit la taille du texte si nécessaire */
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  

  /* Styles pour le responsive design */
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: flex-start;
    }
    .button {
        font-size: 0.8em; /* ajustez si nécessaire pour les petits écrans */
      }
    .subscription-section input {
        padding: 8px 10px; /* ajustez si nécessaire pour les petits écrans */
      }
    .legal-section {
        flex-direction: column;
      }
    .legal-links, .important-links {
        margin-bottom: 20px;
      }
  }
  
  /* Vous pouvez ajouter plus de styles personnalisés ici */
  @media (max-width: 480px) {
    .subscription-section {
      flex-direction: column;
    }
  
    .subscription-section input {
      margin-right: 0;
      margin-bottom: 10px; /* espace entre l'input et le bouton sur les petits écrans */
    }

    .button {
        font-size: 0.7em; /* ajustez si nécessaire pour les très petits écrans */
      }
  }