/* Liv_Accueil.css */
.liv-accueil-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0; /* Modifiez selon votre thème de couleur */
  }
  
  .livreur-info-section {
    display: flex;
    align-items: center;
  }
  
  .livreur-name h2 {
    margin-right: 20px;
    font-family: Poppins;
  }

:where(.css-dev-only-do-not-override-42nv3w).ant-layout-content {
  margin: 0px !important;
  padding: 0px !important;
}

  .liv-btn{
    margin-right: 12px;
  }

/* Pour le bouton actif */
.liv-btn .ant-btn-primary {
  background-color: #298029; /* Couleur verte pour actif */
  border-color: #298029; /* Bordure verte pour actif */
}



/* Pour le bouton inactif */
.liv-btn .ant-btn-default {
  background-color: #FF3A44; /* Couleur rouge pour inactif */
  border-color: #FF3A44; /* Bordure rouge pour inactif */
  color: #f0f0f0;
}



.delivery-title-container{
font-family: Poppins;
margin-left: 12px;
}

.delivery-container {
  margin-top: 20px;
}

.command-section {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px; /* Espace entre la commande et les sections en dessous */
}

.command-section h3 {
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.bottom-sections {
  display: flex;
  justify-content: space-between;
}

.delivery-section {
  padding-top: 25px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 10px;
}

.delivery-section h3 {
  color: #333;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

