/* Pour le switch activé */
.ant-switch-checked {
  background-color: #298029 !important;
}

.container {
  display: flex;
  flex-direction: row; /* Assurez-vous que les enfants sont en ligne */
  align-items: start; /* Alignez les enfants en haut */
  flex-wrap: wrap; /* Permet aux enfants de passer à la ligne suivante si l'espace est insuffisant */
}

.left-content, .right-content {
  flex: 1; /* Les enfants prennent un espace égal */
  min-width: 0; /* Empêche le débordement */
}

.right-content {
  padding-left: 20px; /* Espacement entre le contenu de gauche et de droite */
  border-left: 1px solid #ccc; /* Ligne de division verticale */
}

/* Style pour la table */
.ant-table {
  width: 100%;
}

/* Style pour la table lorsque la taille est petite */
.ant-table-small .ant-table-thead > tr > th, 
.ant-table-small .ant-table-tbody > tr > td {
  padding: 8px 4px;
}

/* Style pour la table lorsque la taille est petite - Ligne d'en-tête */
.ant-table-small .ant-table-thead > tr > th {
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Style pour la table lorsque la taille est petite - Ligne de corps */
.ant-table-small .ant-table-tbody > tr > td {
  padding-top: 4px;
  padding-bottom: 4px;
}
