/* Card.css */
.resto-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background: white;
    width: 25rem; /* Adjust width as needed */
    height: 10rem;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    
  }
  
  .resto-card-content {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .resto-card-image {
    background: #c4c4c4; /* Couleur de fond en attendant le chargement de l'image */
    width: 200px; /* Largeur de l'image par rapport à la carte */
    max-width: 100px;
    height: 10rem;
    object-fit: cover; /* Garantit que l'image couvre la zone sans perdre ses proportions */
    object-position: center;
  }
  
  .resto-card-text {
    padding: 10px;
  }
  
  .resto-card-title {
    margin: 0;
    text-align: left;
    color: #333; /* Adjust text color as needed */
    font-size: 1.25rem;
  }
  
  .resto-card-subtitle {
    color: #298029; /* Adjust subtitle color as needed */
    text-align: left;
    font-size: 1rem;
  }
  .resto-card-prix{
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    color: #03081F;
  }