@import url("https://fonts.googleapis.com/css2?family=Lilita+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-lilita-one: "Lilita One";
  --font-inter: Inter;
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-mini: 15px;
  --font-size-77xl: 96px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-25xl: 44px;
  --font-size-16xl: 35px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-mid: 17px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-35xl: 54px;
  --font-size-24xl: 43px;
  --font-size-5xl: 24px;
  --font-size-smi: 13px;
  --font-size-6xs: 7px;
  --font-size-21xl: 40px;
  --font-size-xs: 12px;
  --font-size-5xs: 8px;

  /* Colors */
  --color-gray-100: #fdfdfd;
  --color-gray-200: #fafafa;
  --color-gray-300: #03081f;
  --color-gray-600: rgba(0, 0, 0, 0.11);
  --color-gray-800: rgba(3, 8, 31, 0.7);
  --color-gray-400: rgba(3, 8, 31, 0.9);
  --color-gray-700: rgba(3, 8, 31, 0.6);
  --color-gray-500: rgba(255, 255, 255, 0.9);
  --color-gray-900: rgba(0, 0, 0, 0.1);
  --color-gray-1000: rgba(0, 0, 0, 0.6);
  --color-white: #fff;
  --color-orange-100: #f8a431;
  --color-orange-200: #ffa500;
  --color-forestgreen-100: #298029;
  --color-forestgreen-200: rgba(41, 128, 41, 0.08);
  --color-forestgreen-300: rgba(41, 128, 41, 0.8);
  --color-black: #000;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.5);
  --color-gainsboro-300: rgba(217, 217, 217, 0.6);
  --color-whitesmoke: #f5f5f5;
  --color-darkslategray: rgba(71, 72, 78, 0.7);
  --color-darkgray: #a6a6a6;
  --color-crimson: #ff3a44;
  --color-silver: #c8c8c8;

  /* Gaps */
  --gap-18xl: 37px;
  --gap-lg: 18px;
  --gap-xl: 20px;
  --gap-sm: 14px;
  --gap-21xl: 40px;
  --gap-29xl: 48px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;
  --gap-mini: 15px;
  --gap-5xl: 24px;
  --gap-69xl: 88px;
  --gap-25xl: 44px;
  --gap-3xl: 22px;
  --gap-24xl: 43px;
  --gap-2xl: 21px;
  --gap-62xl: 81px;
  --gap-11xl: 30px;
  --gap-mid: 17px;
  --gap-15xl: 34px;
  --gap-14xl: 33px;
  --gap-base: 16px;
  --gap-22xl: 41px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-4xs: 9px;
  --gap-6xs: 7px;
  --gap-12xs: 1px;
  --gap-38xl: 57px;
  --gap-32xl: 51px;
  --gap-6xl: 25px;
  --gap-10xs: 3px;
  --gap-4xl: 23px;
  --gap-8xs: 5px;
  --gap-7xs: 6px;
  --gap-31xl: 50px;
  --gap-xs: 12px;
  --gap-5xs: 8px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-33xl: 52px;
  --gap-8xl: 27px;
  --gap-7xs-4: 5.4px;
  --gap-10xs-8: 2.8px;
  --gap-23xl-9: 42.9px;
  --gap-11xs: 2px;
  --gap-15xl-5: 34.5px;
  --gap-base-5: 16.5px;

  /* Paddings */
  --padding-7xl: 26px;
  --padding-12xs: 1px;
  --padding-81xl: 100px;
  --padding-2xl: 21px;
  --padding-97xl: 116px;
  --padding-39xl: 58px;
  --padding-31xl: 50px;
  --padding-xl: 20px;
  --padding-10xs: 3px;
  --padding-4xl: 23px;
  --padding-lgi: 19px;
  --padding-6xl: 25px;
  --padding-8xl: 27px;
  --padding-lg: 18px;
  --padding-mid: 17px;
  --padding-5xs: 8px;
  --padding-11xl: 30px;
  --padding-3xl: 22px;
  --padding-5xl: 24px;
  --padding-10xl: 29px;
  --padding-sm: 14px;
  --padding-27xl: 46px;
  --padding-52xl: 71px;
  --padding-2xs: 11px;
  --padding-13xl: 32px;
  --padding-164xl: 183px;
  --padding-72xl: 91px;
  --padding-9xl: 28px;
  --padding-mini: 15px;
  --padding-4xs: 9px;
  --padding-38xl: 57px;
  --padding-43xl: 62px;
  --padding-32xl: 51px;
  --padding-18xl: 37px;
  --padding-14xl: 33px;
  --padding-12xl: 31px;
  --padding-base: 16px;
  --padding-88xl: 107px;
  --padding-51xl: 70px;
  --padding-16xl: 35px;
  --padding-34xl: 53px;
  --padding-29xl: 48px;
  --padding-11xs: 2px;
  --padding-76xl: 95px;
  --padding-84xl: 103px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-6xs: 7px;
  --padding-17xl: 36px;
  --padding-45xl: 64px;
  --padding-7xs: 6px;
  --padding-35xl: 54px;
  --padding-37xl: 56px;
  --padding-8xs: 5px;
  --padding-smi: 13px;
  --padding-44xl: 63px;
  --padding-40xl: 59px;
  --padding-24xl: 43px;
  --padding-25xl: 44px;
  --padding-23xl: 42px;
  --padding-8xs-3: 4.3px;
  --padding-10xs-3: 2.3px;
  --padding-9xs: 4px;
  --padding-8xs-9: 4.9px;
  --padding-11xs-5: 1.5px;
  --padding-11xs-8: 1.8px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-101xl: 120px;
  --br-26xl: 45px;
  --br-xl: 20px;
  --br-81xl: 100px;
  --br-2xs: 11px;
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-mini: 15px;
}
